<div class="container py-4">
    <a href="/project" class="btn btn-outline-secondary mb-3">&larr; Back to Projects</a>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{project.name}}</h3>
            <hr>
            <p class="card-text">{{project.description}}</p>
        </div>
    </div>
</div>
